* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.searching {
    display: flex;
    flex-direction: column;
    * {
        border: 1px solid black;
    }
    .display-section {
        height: 3rem;
        width: 100%;
    }
}
