:root {
    --major-text: #6665DD;
    --small-text: #dadbe9;
    --background-color: #000500;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--background-color);
    color: var(--major-text);
}

nav {
    background-color: var(--major-text);
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    p {
        color: var(--small-text);
    }
}

.searching {
    display: flex;
    flex-direction: column;
    * {
        border: 1px solid black;
    }
    .display-section {
        height: fit-content;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
        img {
            max-width: 100%;
            height: 3rem;
        }
    }
}
